/*----------------------------------------------------------------------------------*/
/*  Header
/*-----------------------------------------------------------------------------------*/

#header {
	background: url("../images/YaleBackground.jpg") repeat scroll center center / cover;
	background-color: rgba(0, 0, 0, 0.6);
	height: 100vh;
	width: 100%;
	/* opacity: .9; */
	
  }
  
  
  #header .header-content {
	height: 100vh;
	text-align: left;
	width: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
  }
  
  .header-content h1 {
	font-size: 80px;
	font-weight: 700;
	margin-bottom: 10px;
	text-transform: uppercase;
	color: #fff;
  }
  
  .header-content p {
	font-size: 26px;
	letter-spacing: 5px;
	margin-top: 0;
	margin-bottom: 30px;
	text-transform: capitalize;
	color: #fff;
	font-weight: 500;
  }
  
  .header-content .list-social li {
	float: left;
	margin-right: 20px;
  }
  
  .header-content .list-social li i {
	color: #fff;
	font-size: 30px;
  }

  
.gallery {
	display: flex;
	padding: 2px;
	transition: .3s;
	
	&:hover &__image {
		filter: grayscale(1);
	}
	
	&__column {
		display: flex;
		flex-direction: column;
		width: 25%;
	}
	
	&__link {
		margin: 2px;
		overflow: hidden;
		
		&:hover {
			.gallery__image {
				filter: grayscale(0);
			}
			
			.gallery__caption {
				opacity: 1;
			}
		}
	}
	
	&__thumb {
		position: relative;
	}
	
	&__image {
		display: block;
		width: 100%;
		transition: .3s;
		
		&:hover {
			transform: scale(1.1);
		}
	}
	
	&__caption {
		position: absolute;
		bottom: 0;
		left: 0;
		padding: 25px 15px 15px;
		width: 100%;
		font-family: 'Raleway', sans-serif;
		font-size: 16px;
		color: white;
		opacity: 0;
		background: linear-gradient(0deg, rgba(0, 0, 0, .5) 0%, rgba(255, 255 ,255 , 0) 100%);
		transition: .3s;
	}
}
